<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kommuner</key>
	<array>
		<dict>
			<key>id</key>
			<integer>764</integer>
			<key>lanid</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Alvesta</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>761</integer>
			<key>lanid</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Lessebo</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>781</integer>
			<key>lanid</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Ljungby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>767</integer>
			<key>lanid</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Markaryd</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>763</integer>
			<key>lanid</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Tingsryd</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>760</integer>
			<key>lanid</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Uppvidinge</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>780</integer>
			<key>lanid</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Växjö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>765</integer>
			<key>lanid</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Älmhult</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1260</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Bjuv</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1272</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Bromölla</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1231</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Burlöv</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1278</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Båstad</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1285</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Eslöv</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1283</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Helsingborg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1293</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Hässleholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1284</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Höganäs</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1266</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Hörby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1267</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Höör</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1276</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Klippan</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1290</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Kristianstad</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1261</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Kävlinge</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1282</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Landskrona</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1262</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Lomma</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1281</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Lund</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1280</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Malmö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1273</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Osby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1275</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Perstorp</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1291</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Simrishamn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1265</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Sjöbo</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1264</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Skurup</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1230</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Staffanstorp</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1214</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Svalöv</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1263</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Svedala</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1270</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Tomelilla</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1287</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Trelleborg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1233</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Vellinge</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1286</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Ystad</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1277</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Åstorp</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1292</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Ängelholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1257</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Örkelljunga</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1256</integer>
			<key>lanid</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Östra-Göinge</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>980</integer>
			<key>lanid</key>
			<integer>9</integer>
			<key>namn</key>
			<string>Gotland</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>127</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Botkyrka</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>162</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Danderyd</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>125</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Ekerö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>136</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Haninge</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>126</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Huddinge</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>123</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Järfälla</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>186</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Lidingö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>182</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Nacka</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>188</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Norrtälje</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>140</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Nykvarn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>192</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Nynäshamn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>128</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Salem</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>191</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Sigtuna</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>163</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Sollentuna</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>184</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Solna</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>180</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Stockholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>183</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Sundbyberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>181</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Södertälje</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>138</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Tyresö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>160</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Täby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>114</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Upplands Väsby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>139</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Upplands-Bro</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>115</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Vallentuna</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>187</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Vaxholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>120</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Värmdö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>117</integer>
			<key>lanid</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Österåker</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>381</integer>
			<key>lanid</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Enköping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>331</integer>
			<key>lanid</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Heby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>305</integer>
			<key>lanid</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Håbo</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>330</integer>
			<key>lanid</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Knivsta</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>360</integer>
			<key>lanid</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Tierp</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>380</integer>
			<key>lanid</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Uppsala</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>319</integer>
			<key>lanid</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Älvkarleby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>382</integer>
			<key>lanid</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Östhammar</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1382</integer>
			<key>lanid</key>
			<integer>13</integer>
			<key>namn</key>
			<string>Falkenberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1380</integer>
			<key>lanid</key>
			<integer>13</integer>
			<key>namn</key>
			<string>Halmstad</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1315</integer>
			<key>lanid</key>
			<integer>13</integer>
			<key>namn</key>
			<string>Hylte</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1384</integer>
			<key>lanid</key>
			<integer>13</integer>
			<key>namn</key>
			<string>Kungsbacka</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1381</integer>
			<key>lanid</key>
			<integer>13</integer>
			<key>namn</key>
			<string>Laholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1383</integer>
			<key>lanid</key>
			<integer>13</integer>
			<key>namn</key>
			<string>Varberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2326</integer>
			<key>lanid</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Berg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2305</integer>
			<key>lanid</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Bräcke</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2361</integer>
			<key>lanid</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Härjedalen</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2309</integer>
			<key>lanid</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Krokom</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2303</integer>
			<key>lanid</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Ragunda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2313</integer>
			<key>lanid</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Strömsund</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2321</integer>
			<key>lanid</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Åre</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2380</integer>
			<key>lanid</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Östersund</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1984</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Arboga</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1982</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Fagersta</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1961</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Hallstahammar</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1960</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Kungsör</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1983</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Köping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1962</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Norberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1981</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Sala</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1904</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Skinnskatteberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1907</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Surahammar</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1980</integer>
			<key>lanid</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Västerås</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1882</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Askersund</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1862</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Degerfors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1861</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Hallsberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1863</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Hällefors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1883</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Karlskoga</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1881</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Kumla</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1860</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Laxå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1814</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Lekeberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1885</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Lindesberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1864</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Ljusnarsberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1884</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Nora</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1880</integer>
			<key>lanid</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Örebro</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>604</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Aneby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>686</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Eksjö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>662</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Gislaved</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>617</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Gnosjö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>643</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Habo</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>680</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Jönköping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>642</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Mullsjö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>682</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Nässjö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>684</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Sävsjö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>687</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Tranås</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>665</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Vaggeryd</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>685</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Vetlanda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>683</integer>
			<key>lanid</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Värnamo</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2084</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Avesta</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2081</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Borlänge</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2080</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Falun</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2026</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Gagnef</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2083</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Hedemora</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2029</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Leksand</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2085</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Ludvika</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2023</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Malung Sälen</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2062</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Mora</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2034</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Orsa</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2031</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Rättvik</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2061</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Smedjebacken</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2082</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Säter</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2021</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Vansbro</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2039</integer>
			<key>lanid</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Älvdalen</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2183</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Bollnäs</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2180</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Gävle</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2104</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Hofors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2184</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Hudiksvall</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2161</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Ljusdal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2132</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Nordanstig</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2101</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Ockelbo</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2121</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Ovanåker</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2181</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Sandviken</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2182</integer>
			<key>lanid</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Söderhamn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1440</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Ale</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1489</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Alingsås</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1460</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Bengtsfors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1443</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Bollebygd</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1490</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Borås</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1438</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Dals-Ed</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1445</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Essunga</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1499</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Falköping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1439</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Färgelanda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1444</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Grästorp</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1447</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Gullspång</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1480</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Göteborg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1471</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Götene</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1466</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Herrljunga</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1497</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Hjo</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1401</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Härryda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1446</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Karlsborg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1482</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Kungälv</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1441</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Lerum</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1494</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Lidköping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1462</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Lilla Edet</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1484</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Lysekil</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1493</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Mariestad</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1463</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Mark</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1461</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Mellerud</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1430</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Munkedal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1481</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Mölndal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1421</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Orust</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1402</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Partille</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1495</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Skara</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1496</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Skövde</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1427</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Sotenäs</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1415</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Stenungsund</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1486</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Strömstad</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1465</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Svenljunga</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1435</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Tanum</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1472</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Tibro</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1498</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Tidaholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1419</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Tjörn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1452</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Tranemo</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1488</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Trollhättan</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1473</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Töreboda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1485</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Uddevalla</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1491</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Ulricehamn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1470</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Vara</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1442</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Vårgårda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1487</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Vänersborg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1492</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Åmål</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1407</integer>
			<key>lanid</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Öckerö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>885</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Borgholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>862</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Emmaboda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>860</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Hultsfred</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>821</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Högsby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>880</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Kalmar</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>861</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Mönsterås</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>840</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Mörbylånga</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>881</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Nybro</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>882</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Oskarshamn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>834</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Torsås</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>884</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Vimmerby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>883</integer>
			<key>lanid</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Västervik</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1784</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Arvika</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1730</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Eda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1782</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Filipstad</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1763</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Forshaga</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1764</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Grums</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1783</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Hagfors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1761</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Hammarö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1780</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Karlstad</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1715</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Kil</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1781</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Kristinehamn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1762</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Munkfors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1760</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Storfors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1766</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Sunne</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1785</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Säffle</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1737</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Torsby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1765</integer>
			<key>lanid</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Årjäng</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>560</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Boxholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>562</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Finspång</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>513</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Kinda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>580</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Linköping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>586</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Mjölby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>583</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Motala</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>581</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Norrköping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>582</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Söderköping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>584</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Vadstena</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>563</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Valdemarsvik</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>512</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Ydre</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>561</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Åtvidaberg</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>509</integer>
			<key>lanid</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Ödeshög</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2280</integer>
			<key>lanid</key>
			<integer>22</integer>
			<key>namn</key>
			<string>Härnösand</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2282</integer>
			<key>lanid</key>
			<integer>22</integer>
			<key>namn</key>
			<string>Kramfors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2283</integer>
			<key>lanid</key>
			<integer>22</integer>
			<key>namn</key>
			<string>Sollefteå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2281</integer>
			<key>lanid</key>
			<integer>22</integer>
			<key>namn</key>
			<string>Sundsvall</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2262</integer>
			<key>lanid</key>
			<integer>22</integer>
			<key>namn</key>
			<string>Timrå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2260</integer>
			<key>lanid</key>
			<integer>22</integer>
			<key>namn</key>
			<string>Ånge</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2284</integer>
			<key>lanid</key>
			<integer>22</integer>
			<key>namn</key>
			<string>Örnsköldsvik</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>484</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Eskilstuna</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>482</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Flen</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>461</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Gnesta</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>483</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Katrineholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>480</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Nyköping</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>481</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Oxelösund</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>486</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Strängnäs</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>488</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Trosa</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>428</integer>
			<key>lanid</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Vingåker</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2403</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Bjurholm</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2425</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Dorotea</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2481</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Lycksele</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2418</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Malå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2401</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Nordmaling</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2417</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Norsjö</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2409</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Robertsfors</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2482</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Skellefteå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2422</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Sorsele</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2421</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Storuman</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2480</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Umeå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2462</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Vilhelmina</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2404</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Vindeln</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2460</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Vännäs</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2463</integer>
			<key>lanid</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Åsele</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2506</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Arjeplog</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2505</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Arvidsjaur</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2582</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Boden</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2523</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Gällivare</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2583</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Haparanda</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2510</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Jokkmokk</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2514</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Kalix</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2584</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Kiruna</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2580</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Luleå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2521</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Pajala</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2581</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Piteå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2560</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Älvsbyn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2513</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Överkalix</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2518</integer>
			<key>lanid</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Övertorneå</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1082</integer>
			<key>lanid</key>
			<integer>10</integer>
			<key>namn</key>
			<string>Karlshamn</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1080</integer>
			<key>lanid</key>
			<integer>10</integer>
			<key>namn</key>
			<string>Karlskrona</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1060</integer>
			<key>lanid</key>
			<integer>10</integer>
			<key>namn</key>
			<string>Olofström</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1081</integer>
			<key>lanid</key>
			<integer>10</integer>
			<key>namn</key>
			<string>Ronneby</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1083</integer>
			<key>lanid</key>
			<integer>10</integer>
			<key>namn</key>
			<string>Sölvesborg</string>
		</dict>
	</array>
	<key>lans</key>
	<array>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>namn</key>
			<string>Blekinge län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>namn</key>
			<string>Dalarnas län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>namn</key>
			<string>Gotlands län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>namn</key>
			<string>Gävleborgs län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>namn</key>
			<string>Hallands län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>namn</key>
			<string>Jämtlands län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>namn</key>
			<string>Jönköpings län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>namn</key>
			<string>Kalmar län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>namn</key>
			<string>Kronobergs län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>namn</key>
			<string>Norrbottens län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>namn</key>
			<string>Skåne län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>namn</key>
			<string>Stockholms län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>namn</key>
			<string>Södermanlands län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>namn</key>
			<string>Uppsala län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>namn</key>
			<string>Värmlands län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>namn</key>
			<string>Västerbottens län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>namn</key>
			<string>Västernorrlands län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>namn</key>
			<string>Västmanlands län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>namn</key>
			<string>Västra Götalands län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>namn</key>
			<string>Örebro län</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>namn</key>
			<string>Östergötlands län</string>
		</dict>
	</array>
</dict>
</plist>
